@media only screen and (max-width: 600px) {
  #login {
    width: 350px;
  }
}

@media only screen and (min-width: 600px) {
  #login {
    width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  #login {
    width: 550px;
  }
}

@media only screen and (min-width: 992px) {
  #login {
    width: 550px;
  }
}

@media only screen and (min-width: 1200px) {
  #login {
    width: 500px;
  }
}